* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-mario {

    height: 200px;
}

button {

    color: white;
    background-color: #c51111;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

.logo-mario-luigi {

    height: 500px;
}

body {

    height: 100vh;

}

.caixa-mae {

    display: flex;
    align-items: center;
    padding: 100px;
    justify-content: space-around;
}

.caixa-principal {

    width: 40%;
}

.caixa-video {

    z-index: -1;
    position: fixed;
    top: 0;
}

video {

    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;

}

.mascara {

    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;

}

p {

    color: white;
    font-size: 20px;
}

.link-whatsapp img {

    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.header img {

    height: 60px;

}

.header a {

    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header {

    display: flex;
    margin: 30px;
    align-items: center;
    gap: 30px;
}

.header a:hover {

    color: #c51111;
    font-size: 26px;
    transition: 0.5 ease-in-out;
}

button:hover {

    transition: 0.5 ease-in-out;
    background-color: rgba(255, 255, 255, 0.5)
}

.fale-conosco {

    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    transition: left 1s ease-in-out;
}

input {

    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #c51111;
}

textarea {

    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #c51111;

}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}

@media (max-width:1100px) {
    p {
        display: none;
    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .logo-mario-luigi {
        width: 80vw;
        height: auto;
    }

    .header img {
        display: none;
       
    }

    .header {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header a {
        font-size: 20px;

    }
    .mascara-formulario{
        height: 100vh;

    }
}